{{define "head"}}<title>Список доступных лотов</title>{{end}}
{{define "body"}}
<h1>Лоты</h1>
<!--<p>
    <a href="auction/lots/add" >Добавить лот</a>
</p>
-->
    <style>
        td {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 8pt; /* Размер шрифта в пунктах */
        }
    </style>

<div>
    <table border="1">
        <tr>
            <th>ИД лота</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Минимальная цена</th>
            <th>Шаг</th>
            <th>Статус</th>
            <th>Окончание</th>
            <th>Создатель</th>
        </tr>
        {{range $index,$value := . }}
        <tr>
            <td>{{$value.ID}}</td>
            <td>{{$value.Title}}</td>
			<td>{{$value.Description}}</td>
			<td>{{$value.MinPrice}}</td>
			<td>{{$value.PriceStep}}</td>
			<td>{{$value.Status}}</td>
			<td>{{$value.EndAt}}</td>
            <td>{{$value.CreatorID}}</td>
        </tr>
        {{end}}
    </table>
</div>
{{end}}