{{define "utilities"}}
    <html>
    <head>{{template "head" .}}</head>
    <body>{{template "body" .}}</body>
{{/*    <script>*/}}
{{/*        function SetToken(token) {*/}}
{{/*            var localstorage = window.localStorage;*/}}
{{/*            localstorage.setItem('Authorization', 'Bearer ' + {{.}});*/}}
{{/*        }*/}}

{{/*        // var bearer = localstorage.getItem('Bearer');*/}}

{{/*        // if (bearer === undefined) {*/}}
{{/*        //     console.log('Bearer undefined');*/}}
{{/*        // }*/}}
{{/*    </script>*/}}
    </html>
{{end}}